:root {
    --primary: #9AA6B2;
    --secondary: #6c757d;
    --background-color: #F3F4F6;
    --bs-secondary-color: #9aa6b2;
    --bs-border-radius: 0.5rem;
    --bs-border-radius-card: 0.75rem;
    --bs-border-radius-item: 0.375rem;
    --default-text-color: #131010;
    --default-font-size: 1.125rem;
    --default-line-height: 1.6;
    --default-border-color: #D7DBE1;
    --default-border-width: 1px;
    --default-border-style: solid;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Dm Sans', sans-serif;
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
    color: var(--default-text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--primary);
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Sidebar */

.sidebar {
    margin: 10px 0px 10px 10px;
    height: calc(100vh - 20px);
    border-radius: var(--bs-border-radius-card);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: var(--default-border-width) var(--default-border-style) var(--default-border-color);
    box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.15);
    transition: 0.5s all ease-out;
}

.sidebar:not(.sidebar-mini) {
    width: 240px;
}

.sidebar.sidebar-mini {
    width: 70px;
}

.sidebar:hover {
    box-shadow: none;
}

.sidebar .sidebar-header {
    padding: 18px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.sidebar-mini .sidebar-header .sidebar-brand {
    width: 0;
    opacity: 0;
}

.sidebar .sidebar-header .sidebar-brand img {
    width: 75%;
}

.sidebar .sidebar-header .sidebar-brand-mini {
    display: flex;
    align-items: center;
    justify-content: start;
}

.sidebar .sidebar-header .sidebar-brand-mini img {
    width: 75%;
}

.sidebar:not(.sidebar-mini) .sidebar-header .sidebar-brand-mini {
    width: 0;
    opacity: 0;
}

.sidebar .sidebar-header .sidebar-toggle {
    font-size: 1.3rem;
    color: var(--primary);
}

.sidebar.sidebar-mini .sidebar-header .sidebar-toggle {
    display: none;
}

.sidebar .sidebar-menu {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 6px;
}

.sidebar .sidebar-link {
    width: 100%;
    padding: 0 16px;
    font-size: 16px;
}

.sidebar .sidebar-menu .sidebar-link .sidebar-item {
    display: flex;
    position: relative;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
    border-radius: var(--bs-border-radius-item);
    border-left: 4px solid transparent;
    transition: 0.5s all ease-out;
}

.sidebar .sidebar-menu .sidebar-link .sidebar-item span {
    width: 100%;
    opacity: 1;
    overflow: hidden;
    transition: 0.5s all ease-out;
}

.sidebar.sidebar-mini .sidebar-menu .sidebar-link .sidebar-item span {
    width: 0;
    opacity: 0;
}

.sidebar .sidebar-menu .sidebar-link .sidebar-item.active {
    background-color: #f1f1f1;
    color: var(--default-text-color);
}

.sidebar .sidebar-menu .sidebar-link .sidebar-item.active::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 40%;
    border-radius: 0 2px 2px 0;
    left: -4px;
    top: 28%;
    background-color: var(--primary);
}

.sidebar .sidebar-menu .sidebar-link .sidebar-item:hover {
    background-color: #f1f1f1;
    color: var(--default-text-color);
}

.sidebar:not(.sidebar-mini) .sidebar-menu .sidebar-link .sidebar-item.sub-item::after {
    content: '\2b81';
    font-size: 0.6rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: 8px;
    transform: rotate(90deg);
    transition: 0.5s all ease-out;
}

.sidebar:not(.sidebar-mini) .sidebar-menu .sidebar-link .sidebar-item.sub-item:not(.collapsed)::after {
    transform: rotate(-90deg);
}

.sidebar .sidebar-menu .sidebar-subitem {
    width: 100%;
    font-size: 14px;
}

.sidebar .sidebar-menu .sidebar-subitem .sidebar-subitem-link {
    display: block;
    position: relative;
    padding: 4px 8px 4px 32px;
    margin-top: 4px;
    border-radius: var(--bs-border-radius-item);
    border-left: 4px solid transparent;
    transition: 0.5s all ease-out;
}

.sidebar .sidebar-menu .sidebar-subitem .sidebar-subitem-link::before {
    content: '\2022';
    position: absolute;
    color: #9AA6B2;
    font-size: 1.4rem;
    margin-top: -6px;
    margin-left: -13px;
}

.sidebar .sidebar-menu .sidebar-subitem .sidebar-subitem-link:hover {
    background-color: #e9ecef;
    color: var(--default-text-color);
}

.sidebar .sidebar-menu .sidebar-subitem .sidebar-subitem-link:hover::before {
    color: var(--default-text-color);
}

main {
    padding: 11px 15px;
    margin-left: 250px;
    transition: 0.5s all ease-out;
}

/* main when .sidebar.sidebar-mini */
.sidebar.sidebar-mini+main {
    margin-left: 70px;
}

/* main when .sidebar.sidebar-mini */
/* .sidebar+main {
    margin-left: 250px;
} */

/* Navbar */

.navbar {
    border-radius: var(--bs-border-radius-card);
    padding: 10px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: var(--default-border-width) var(--default-border-style) var(--default-border-color);
    box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.15);
}

.navbar:hover {
    box-shadow: none;
}

.navbar .navbar-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.navbar .navbar-content .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.navbar .navbar-content .navbar-search {
    display: inline;
    width: 26rem;
    margin-left: 8px;
}

.navbar .navbar-content .navbar-search .form-control {
    padding: 0.315rem 12px 0.315rem 2.375rem;
}

.navbar .navbar-content .dropdown .dropdown-toggle::after {
    display: none !important;
}

.navbar .navbar-content .notification-dropdown .dropdown-toggle {
    width: 34px;
    height: 34px;
    border-radius: 12px;
    border: var(--default-border-width) var(--default-border-style) #9aa6b272;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-content .profile-dropdown img {
    width: 34px;
    height: 34px;
    padding: 4px;
    border-radius: 50%;
    border: var(--default-border-width) var(--default-border-style) #9aa6b272;
}

.content {
    margin-top: 10px;
    padding: 10px 8px;
}

.content-title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin-bottom: 16px;
}

.content-title .content-title-badge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-right: auto;
}

.content-title .content-title-icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--default-border-width) var(--default-border-style) var(--default-border-color);
    border-radius: var(--bs-border-radius-card);
    background-color: #fff;
}

.content-title .content-title-icon i {
    font-size: 1.2rem;
}

.content-title .content-title-text {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0px;
}

.content-title .content-title-text h5 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.content-title .content-title-text span {
    font-size: 0.8rem;
    line-height: 1;
    color: var(--primary);
}

.content-card {
    margin-top: 0.85rem;
}

.content-card .card {
    border-radius: var(--bs-border-radius-card);
    border: none;
    box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.15);
}

.content-card .card:hover {
    box-shadow: none;
}

.content-card .card .card-body {
    padding: 16px;
    color: #F8FAFC;
}

.content-card .content-card-item:first-child .card {
    background: linear-gradient(-90deg, #074799 0%, #001A6E 100%);
}

.content-card .content-card-item:nth-child(2) .card {
    background: linear-gradient(-90deg, #FFC107 0%, #FF9800 100%);
}

.content-card .content-card-item:nth-child(3) .card {
    background: linear-gradient(-90deg, #4CAF50 0%, #388E3C 100%);
}

.content-chart {
    height: 400px;
}

.content-chart .content-chart-title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2px;
    margin-bottom: 16px;
}

.content-chart .content-chart-title .btn-tooltip {
    padding: 4px;
    border-radius: 22px;
}

.content-chart .content-chart-title .btn i {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.content-chart .content-chart-title .dropdown {
    margin-left: auto;
}

.content-tabs {
    width: 100%;
    padding: 0.45rem 0.45rem;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.45rem;
    border-radius: var(--bs-border-radius);
}

.content-tabs .content-tab {
    flex: 0 1 auto;
    width: 100%;
    padding: 0.2rem 1rem;
    background-color: transparent;
    color: var(--secondary);
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: 0.3s all;
}

.content-tabs .content-tab.active {
    background-color: #fff;
    color: var(--default-text-color);
    border-radius: var(--bs-border-radius);
    box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.15);
}

.content-update {
    height: 400px;
    padding-bottom: 0.85rem;
}

.content-update-list {
    margin-top: 0.85rem;
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    height: calc(400px - 5.95rem);
    overflow: hidden;
    overflow-y: auto;
}

.content-update-list::-webkit-scrollbar {
    display: none;
}

.content-update-list .content-update-item {
    padding-bottom: 8px;
    border-bottom: var(--default-border-width) var(--default-border-style) var(--default-border-color);
}

.content-update-list .content-update-item:last-child {
    border-bottom: none;
    margin-bottom: 36px;
}

.content-update-list .content-update-item h5 {
    font-size: 1.2rem;
    font-weight: 500;
}

.content-update-list .content-update-item p {
    font-size: 0.8rem;
    color: var(--secondary);
    margin: 0;
    line-height: 1.2;
}

.content-update-list .content-update-item .content-update-item-date {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--secondary);
}

.content-update-list .content-update-item .content-update-item-date i {
    font-size: 0.8rem;
    margin-right: 4px;
}

/* Custom Component */

.custom-input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.custom-input-group .input-group-prefix {
    position: absolute;
    left: 0;
    padding: 0 12px;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--secondary);
}

.custom-input-group .input-group-prefix i {
    font-size: 1.2rem;
}

.custom-input-group .input-group-suffix {
    position: absolute;
    right: 0;
    padding: 0 12px;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--secondary);
}

.custom-input-group .input-group-suffix i {
    font-size: 1.2rem;
}

.custom-input-group input {
    width: 100%;
    padding: 8px 8px 8px 38px;
    border: 1px solid #9aa6b2;
    border-radius: var(--bs-border-radius);
    outline: none;
}

/* Form */

.form-control {
    padding: 0.315rem 0.75rem;
}

.form-control:focus {
    border-color: #9aa6b2;
    box-shadow: 0 0 0 .15rem rgba(154, 166, 178, .25);
}

.form-control[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}

.form-select {
    padding: 0.315rem 0.75rem;
}

.form-select:focus {
    border-color: #9aa6b2;
    box-shadow: 0 0 0 .15rem rgba(154, 166, 178, .25);
}

/* Breadcrumb */
.breadcrumb .breadcrumb-item {
    color: var(--secondary);
}

.breadcrumb .breadcrumb-item.active {
    color: var(--default-text-color);
    font-weight: 500;
    padding-left: 4px;
}

.breadcrumb .breadcrumb-item.active::before {
    color: var(--secondary);
    font-weight: 400;
    padding-right: 4px;
}

.btn {
    padding: 0.315rem 0.75rem;
    font-size: 0.875rem;
}

.btn i {
    margin-right: 4px;
}

.btn-outline-default {
    color: var(--default-text-color);
    background-color: transparent;
    border: var(--default-border-width) var(--default-border-style) var(--default-border-color);
}

.btn-outline-default:hover {
    color: #fff;
    background-color: var(--default-text-color);
    border-color: 1px solid var(--default-text-color);
}

.btn-outline-default.active {
    color: #fff;
    background-color: var(--default-text-color);
    border-color: 1px solid var(--default-text-color);
}

.card {
    border-radius: var(--bs-border-radius-card);
    border: var(--default-border-width) var(--default-border-style) var(--default-border-color);
    box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.15);
}

.card:hover {
    box-shadow: none;
}

.card .card-body .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tooltip {
    margin-bottom: -8px !important;
}

.tooltip-inner {
    color: var(--secondary);
    background-color: #fff;
    border: var(--default-border-width) var(--default-border-style) var(--default-border-color);
    border-radius: var(--bs-border-radius);
}

.tooltip-arrow {
    display: none !important;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table.table-sm {
    font-size: 0.875rem;
}

.table thead th {
    background-color: #f8fafc;
    color: var(--secondary);
    font-weight: 500;
}

.table thead tr th:first-child {
    border-top-left-radius: var(--bs-border-radius);
    padding-left: 12px;
}

.table thead tr th:last-child {
    border-top-right-radius: var(--bs-border-radius);
    padding-right: 12px;
}

.table tbody tr td:first-child {
    padding-left: 12px;
}

.table tbody tr td:last-child {
    padding-right: 12px;
}

.badge {
    border-radius: var(--bs-border-radius-item);
}

.ti {
    font-size: 1.2rem;
}